:root {
    --square-size: 94px;
    --select-size: 32px;
    --shadow-col: rgba(0, 0, 0, 0.5);
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

fieldset {
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, var(--square-size));
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--square-size);
    height: var(--square-size);
    border: 1px solid gray;
    font-size: 3rem;
}

.mark-container {
    display: grid;
    grid-template-columns: repeat(3, var(--select-size));
}

.main-menu {
    position: absolute;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 4px var(--shadow-col);
    padding: 16px;
    right: 0;
}

.configuration {
    display: flex;
    gap: 16px;
}