:root {
    --square-size: 64px;
    font-size: 16px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, var(--square-size));
}

.container div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--square-size);
    height: var(--square-size);
    border: 1px solid gray;
}